[Unit]
Description=create backup of all the users of the citra server

[Service]
ExecStart=/usr/bin/bash [backup_script_path]
Type=oneshot
User=[backup_user]

[Install]
WantedBy=multi-user.target                       